body {
  background-color: rgb(0, 0, 0);
}

body,
html,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}

#App {
  height: 100%;
}

:root {
  --f7-theme-color: #ff0000;
  --f7-theme-color-shade: #d60000;
  --f7-theme-color-tint: #ff2929;
  --navbar-background-color: transparent;
  --ripple-color: #fffda5;
  --f7-fab-bg-color: #ff0000;
  --main-color: ;
  --dark-color: ;
  --light-color: ;
}

.button .ripple-wave {
  --f7-touch-ripple-color: var(--ripple-color);
}

.popup-behind {
  transform: scale(1) !important;
}

#wrapper {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: solid black 3rem;
  border-radius: 34px;
  height: 6.7in;
  width: 10.2in;
  transform-style: preserve-3d;
  z-index: 1;
  perspective: 2000px;
  transform-origin: center;
}
#wrapper > div {
  width: 100%;
  height: 100%;
}

.dock {
  animation: dockTablet 3s forwards;
}

.undock {
  animation: undockTablet 3s backwards;
}

#dock-image {
  position: absolute;
  width: 53%;
  height: auto;
  top: 100%;
  user-select: none;
}

.dock-image {
  animation: dock 3s forwards;
}

.undock-image {
  animation: undock 3s forwards;
}

@keyframes dockTablet {
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: rotateX(21deg);
  }
}
@keyframes undockTablet {
  0% {
    transform: rotateX(21deg);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes dock {
  100% {
    top: 36%;
  }
}
@keyframes undock {
  0% {
    top: 36%;
  }
  100% {
    top: 100%;
  }
}
#screen {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: solid rgb(0, 0, 0) 1rem;
  border-radius: 24px;
}
#screen #sub-screens-container {
  height: 97.4%;
  margin: auto;
}
#screen #sub-screens-container #sub-screen-1, #screen #sub-screens-container #sub-screen-2 {
  height: 100%;
}
#screen #sub-screens-container #sub-screen-1 .screen-grid, #screen #sub-screens-container #sub-screen-2 .screen-grid {
  display: grid;
  height: 100%;
  align-items: center;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(12, auto);
}
#notification-bar {
  position: absolute;
  height: 20px;
  z-index: 999999;
  width: 100%;
  overflow: hidden;
  background: var(--navbar-background-color);
}
#notification-bar #notification-panel {
  background: white;
  border-radius: 30px;
  height: 95%;
  margin: 10px;
}
#notification-bar #notification-bar-date {
  display: flex;
  color: white;
}
#notification-bar #notification-bar-date p {
  margin: 0;
}
#notification-bar #brightness-label {
  color: white;
}
#notification-bar button {
  width: 31.3333333333%;
  margin: 4px;
  border-radius: 30px;
  height: 80px;
}
#notification-bar button .button-content-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
}
#notification-bar button .button-content-wrapper p {
  margin: auto 10px auto auto;
}
#notification-bar button .button-content-wrapper .button-legend {
  padding: 0;
  margin: auto;
  padding-left: 0.3rem;
}
#notification-bar button .button-content-wrapper .button-legend p {
  margin: 0;
  text-align: left;
  font-size: 12px;
}
#notification-bar .MuiSlider-root {
  max-width: 95%;
}
#notification-bar .MuiSlider-root .MuiSlider-rail {
  height: 5px;
  color: rgba(255, 255, 255, 0.363);
}
#notification-bar .MuiSlider-root .MuiSlider-track {
  height: 2.4rem;
  padding-right: 18px;
  border-radius: 30px;
}
#notification-bar .MuiSlider-root .MuiSlider-thumb {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 8px;
  border: none;
  box-shadow: none;
}
#notification-bar .MuiSlider-root .MuiSlider-thumb:hover {
  box-shadow: none;
}
#notification-bar .MuiSlider-root .MuiSlider-thumb:active {
  box-shadow: none;
}
#notification-bar .MuiSlider-root .MuiSlider-thumb::after {
  box-shadow: none;
}
#notification-bar .MuiSlider-root .MuiSlider-thumb::before {
  box-shadow: none;
}
#notification-bar #fab-buttons-container {
  margin: auto 2rem;
  top: 80%;
}
#notification-bar #fab-buttons-container a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.show-bar {
  animation: expandBar 0.3s forwards ease-in;
}

.hide-bar {
  animation: hideBar 0.3s forwards ease-in;
}

.fixed-bar {
  animation: expandBar 0s forwards ease-in;
}

@keyframes expandBar {
  0% {
    height: 20px;
    width: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #121212;
  }
}
@keyframes hideBar {
  0% {
    width: 100%;
    height: 100%;
    background: #121212;
  }
  99% {
    height: 20px;
    width: 100%;
    background: #121212;
  }
  100% {
    background: var(--navbar-background-color);
  }
}
#wallpaper-change, #timeout-page {
  position: absolute;
  z-index: 2;
  height: 100%;
  overflow-y: auto;
  transform: translateX(100%);
  padding: 3rem 0;
}
#wallpaper-change::-webkit-scrollbar, #timeout-page::-webkit-scrollbar {
  display: none;
}

#wallpaper-preview {
  position: absolute;
  height: 100%;
  z-index: 3;
}

#timeout-page {
  padding: 1rem 0;
}

#button-list {
  width: 100%;
  display: flex;
  margin-top: -0.5rem;
  flex-direction: column;
  text-transform: none;
  left: -1rem;
  padding-left: 1rem;
  align-items: start;
  border-radius: 12px;
}
#button-list p {
  margin: 0;
}
#button-list:hover {
  cursor: pointer;
  border-radius: 24px;
}

.page-open {
  animation: slide-in forwards 0.2s ease-out;
}

.page-close {
  animation: slide-out forwards 0.1s ease-out;
}

.test {
  animation: slide-out forwards 0.1s ease-out;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.clock-container {
  display: flex;
}
.clock-container .react-clock {
  margin: auto;
  grid-column: span 10;
  grid-row: 4;
}
.clock-container .react-clock .react-clock__face {
  border-radius: 0;
  border: none;
  background: url("./assets/clock-bg2.svg");
  background-position: center;
  background-size: contain;
}
.clock-container .react-clock .react-clock__hand.react-clock__minute-hand div {
  border: solid 6px var(--main-color);
  border-radius: 20px;
  background-color: var(--main-color);
}
.clock-container .react-clock .react-clock__hand.react-clock__hour-hand {
  z-index: 1;
}
.clock-container .react-clock .react-clock__hand.react-clock__hour-hand div {
  border-radius: 20px;
  background-color: var(--dark-color);
  border: solid 6px var(--dark-color);
}
.clock-container .react-clock .react-clock__hand.react-clock__second-hand div {
  border-radius: 100%;
  background-color: var(--light-color);
}

#sub-screen-1, #screen #sub-screens-container #sub-screen-2 {
  z-index: -99;
}

#app-drawer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, 70px);
  align-items: center;
  gap: 1rem;
  position: relative;
  top: 1%;
  margin: auto;
  z-index: 1;
  border-radius: 24px 24px 0 0;
  color: rgb(0, 0, 0);
  padding: 3rem 3rem 0 3rem;
}

.drawer-up {
  opacity: 0;
  animation: drawerUp 0.2s forwards linear;
}

.drawer-down {
  opacity: 1;
  animation: drawerDown 0.3s forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes drawerUp {
  0% {
    opacity: 0;
    z-index: 9999999;
    height: 0;
    top: 1%;
  }
  100% {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    top: -95%;
    height: 95%;
    z-index: 99999;
    border-radius: 24px 24px 0 0;
  }
}
@keyframes drawerDown {
  0% {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    top: -95%;
    height: 95%;
    z-index: 9999999;
    border-radius: 24px 24px 0 0;
  }
  99% {
    background-color: rgb(255, 255, 255);
    top: -0.6%;
    z-index: 9999999;
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0%;
    z-index: 9999999;
    background-color: rgb(255, 255, 255);
    border-radius: 24px 24px 0 0;
    height: 0%;
  }
}
.home-icons, .drawer-icons {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}

.drawer-icons {
  width: 60px;
  height: 60px;
}

#icon {
  z-index: 99999999999999;
  left: 1;
}
#icon p {
  background-color: red;
  margin: 0;
}

#imgage-icon {
  background-color: red;
}

#sub-screen-1-container {
  cursor: context-menu;
  cursor: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/330px-Image_created_with_a_mobile_phone.png");
}

.drop-container {
  display: grid;
  position: relative;
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  display: grid;
  margin: 3rem;
}

.page-content,
.page {
  width: 100%;
  height: 100%;
}

#context-menu {
  background-color: rgba(255, 255, 255, 0.158);
  max-width: 10rem;
  max-height: 10rem;
  z-index: 2;
  backdrop-filter: blur(15px);
}
#context-menu .page-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#context-menu .page-content button {
  background-color: white;
  color: black;
}

#settings-popup, #apps-wrapper-popup {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 0;
  left: 0;
  top: 0;
}
#settings-popup .page-content, #apps-wrapper-popup .page-content {
  overflow: hidden;
}
#settings-popup #settings-wrapper, #apps-wrapper-popup #settings-wrapper {
  overflow-y: auto;
}
#settings-popup #settings-wrapper::-webkit-scrollbar, #apps-wrapper-popup #settings-wrapper::-webkit-scrollbar {
  display: none;
}
#settings-popup .swipe-handler:hover, #apps-wrapper-popup .swipe-handler:hover {
  cursor: pointer;
}
#settings-popup .swipe-handler:active, #apps-wrapper-popup .swipe-handler:active {
  cursor: grab;
}
#settings-popup #settings-toolbar, #apps-wrapper-popup #settings-toolbar {
  margin: auto;
  width: 100%;
  justify-content: center;
}
#settings-popup #settings-toolbar a, #apps-wrapper-popup #settings-toolbar a {
  margin: 0;
  padding: 0;
  color: white;
}
#settings-popup #settings-sidebar, #apps-wrapper-popup #settings-sidebar {
  position: fixed;
  overflow: auto;
  width: fit-content;
  left: 0;
}
#settings-popup #settings-sidebar .settings-sidebar-items, #apps-wrapper-popup #settings-sidebar .settings-sidebar-items {
  margin: auto;
  text-align: left;
  border-radius: 20px;
  max-width: 100%;
  background-color: "#d9dbd8";
  display: flex;
  margin: 10px 1rem;
}
#settings-popup #settings-sidebar .settings-sidebar-items .item-content, #apps-wrapper-popup #settings-sidebar .settings-sidebar-items .item-content {
  width: 100%;
}
#settings-popup #settings-sidebar .settings-sidebar-items .item-content .item-inner, #apps-wrapper-popup #settings-sidebar .settings-sidebar-items .item-content .item-inner {
  gap: 1rem;
  justify-content: flex-start;
}
#settings-popup #settings-sidebar .settings-sidebar-items:hover, #apps-wrapper-popup #settings-sidebar .settings-sidebar-items:hover {
  cursor: pointer;
}

#settings-transparent {
  opacity: 0;
}

#transparent {
  opacity: 0;
}

#piechart-container #svg1 {
  width: 50px;
  height: 50px;
}
#edge-previous-draggable:hover {
  background-color: rgba(0, 0, 0, 0.1450980392);
  transition: all 0.5s;
}

#hub-screen {
  opacity: 0;
  animation: openHub 1s forwards;
}

.hub-screen-close {
  opacity: 1;
  animation: closeHub 0.3s forwards;
}

@keyframes openHub {
  100% {
    opacity: 1;
  }
}
@keyframes closeHub {
  100% {
    opacity: 0;
  }
}
.flip-clock-container {
  width: 97%;
  height: 95%;
  background-color: rgba(99, 97, 126, 0);
  transform-style: preserve-3d;
  perspective: 1500px;
  margin: auto;
  border-radius: 20px;
  transform-origin: center;
}
.flip-clock-container .flipper {
  height: 50%;
  z-index: 0;
  width: 98%;
  margin: auto;
  border-radius: 30px;
  transform-origin: bottom;
}
.flip-clock-container .flipper p {
  font-size: 300px;
  position: absolute;
  margin: 0;
  font-weight: bolder;
  transform: rotateX(180deg);
  top: 19.1%;
}
.flip-clock-container .divider {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0);
  transform: translateZ(10px);
}
.flip-clock-container .number {
  position: relative;
  font-size: 300px;
  z-index: 0;
  height: 0;
  font-weight: bolder;
  top: 4%;
  margin: 0 auto;
  z-index: 0;
}
.flip-clock-container .flipper-bottom {
  background-color: rgb(99, 97, 126);
  height: 49%;
  width: 99%;
  border-radius: 30px;
}
.flip-clock-container .flipper-top {
  position: absolute;
  background-color: rgb(99, 97, 126);
  height: 50%;
  width: 99%;
  border-radius: 30px;
}

@keyframes flip {
  0% {
    color: transparent;
  }
  16% {
    color: transparent;
  }
  16.5% {
    color: black;
  }
  50% {
    transform: rotateX(-180deg) translateY(0px);
  }
  70% {
    transform: rotateX(-174deg) translateY(0px);
  }
  100% {
    transform: rotateX(-180deg) translateY(0px);
  }
}
#digital-clock-container {
  font-size: 150px;
}
#digital-clock-container #weather-widget-lockscreen {
  font-size: 15px;
}
#digital-clock-container #weather-widget-lockscreen p {
  font-size: 15px;
  margin: 0;
}
#digital-clock-container #weather-widget-lockscreen img {
  height: 10px;
}
#digital-clock-container #digital-clock-minutes {
  margin-top: -80px;
}
#digital-clock-container p {
  color: white;
  font-weight: 100;
  margin: 0 auto;
  text-align: center;
}

#digital-clock-template {
  height: 1.34in;
  margin: 0;
  border-radius: 15px;
}
#digital-clock-template #digital-clock-container div {
  margin: auto;
}
#digital-clock-template #digital-clock-container p {
  font-size: 20px;
  margin: 0;
}
#digital-clock-template #digital-clock-container #weather-widget-lockscreen {
  font-size: 15px;
}
#digital-clock-template #digital-clock-container #weather-widget-lockscreen p {
  font-size: 15px;
}
#digital-clock-template #digital-clock-container #weather-widget-lockscreen img {
  width: 10px;
  height: 10px;
}

#digital-clock-template-preview {
  width: 90%;
  height: 300px;
  margin: 0 auto 0.5rem auto;
}
#digital-clock-template-preview #digital-clock-container div {
  margin: auto;
}
#digital-clock-template-preview #digital-clock-container p {
  font-size: 50px;
  margin: -15px auto;
}
#digital-clock-template-preview #digital-clock-container #weather-widget-lockscreen {
  font-size: 20px;
  margin-bottom: -2rem;
}
#digital-clock-template-preview #digital-clock-container #weather-widget-lockscreen p {
  font-size: 20px;
  margin: 0 3px;
}
#digital-clock-template-preview #digital-clock-container #weather-widget-lockscreen img {
  width: 30px;
  height: 30px;
}

#display-settings .item-content {
  padding: 0;
}
#display-settings .item-inner {
  width: 100%;
}

#photo-app-items-container::-webkit-scrollbar {
  display: none;
}

#collapsed-album {
  width: 200px;
  height: 200px;
}

#expand-album {
  animation: expandAlbum 0.5s forwards;
  transform-origin: center;
}
#expand-album .swiper-wrapper {
  animation: expandAlbum 0.5s forwards;
  transform-origin: center;
}

@keyframes expandAlbum {
  0% {
    width: 200px;
    height: 200px;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
#photos #attention-seeker {
  animation: bounce 0.6s forwards ease;
  animation-iteration-count: 6;
}

@keyframes bounce {
  0% {
    margin-top: -0.3rem;
  }
  50% {
    margin-top: 0rem;
  }
  100% {
    margin-top: -0.3rem;
    display: none;
  }
}
#calendar-schedule {
  height: 95%;
  background-color: white;
  border-radius: 30px;
  margin: 0 1rem auto 1rem;
  overflow-y: scroll;
}
#calendar-schedule::-webkit-scrollbar {
  display: none;
}

.MuiDateCalendar-root {
  min-width: 100%;
}

#scheduler {
  height: 100%;
  width: 100%;
  margin: auto;
}
#scheduler form {
  width: 100%;
}
#scheduler form::-webkit-scrollbar {
  display: none;
}
#scheduler form input {
  height: 50px;
}
#scheduler form textarea:hover {
  border: solid 1px white;
}

.MuiPickersLayout-contentWrapper.css-16b5y55-MuiPickersLayout-contentWrapper > div::-webkit-scrollbar {
  display: none;
}

#scheduler > form > div.MuiBox-root.css-0 > div > div > div {
  display: flex;
  align-items: center;
}

.color-select-preview {
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin-right: 1rem;
}

.base-Popper-root.MuiPickersPopper-root.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root div {
  width: 294px;
}
.base-Popper-root.MuiPickersPopper-root.css-1anqmj6-MuiPopper-root-MuiPickersPopper-root div ul {
  width: 294px;
}

.MuiPickersFadeTransitionGroup-root.MuiDateCalendar-viewTransitionContainer.css-15v8kdh-MuiPickersFadeTransitionGroup-root-MuiDateCalendar-viewTransitionContainer > div > div {
  margin: auto 0 auto auto;
  width: 100%;
}

.MuiPickersCalendarHeader-root.css-1aqny2q-MuiPickersCalendarHeader-root {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 1rem;
}
.MuiPickersCalendarHeader-root.css-1aqny2q-MuiPickersCalendarHeader-root .MuiPickersCalendarHeader-labelContainer.css-cyfsxc-MuiPickersCalendarHeader-labelContainer {
  font-size: 24px;
  margin: auto;
}
.MuiPickersCalendarHeader-root.css-1aqny2q-MuiPickersCalendarHeader-root button {
  width: fit-content;
}

.MuiDayCalendar-header {
  min-width: 100%;
}

.MuiPickersFadeTransitionGroup-root.MuiDateCalendar-viewTransitionContainer.css-15v8kdh-MuiPickersFadeTransitionGroup-root-MuiDateCalendar-viewTransitionContainer {
  min-width: 100%;
}

.MuiDayCalendar-header.css-i5q14k-MuiDayCalendar-header {
  justify-content: space-around;
}
.MuiDayCalendar-header.css-i5q14k-MuiDayCalendar-header span {
  font-size: 16px;
}

.MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition {
  min-width: 100%;
}

.MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition > div .MuiDayCalendar-weekContainer {
  display: grid;
  grid-template-columns: repeat(7, auto);
  justify-content: space-around;
  min-width: 100%;
}
.MuiPickersSlideTransition-root.MuiDayCalendar-slideTransition.css-1t0788u-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition > div .MuiDayCalendar-weekContainer button {
  font-size: 18px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-3bmhjh-MuiPaper-root-MuiPopover-paper button span {
  background-color: var(--navbar-background-color);
}

#search-container {
  height: 100%;
}

#search-iframe {
  margin: 0;
}

#scale-down {
  transform: scale(0.95);
}/*# sourceMappingURL=index.css.map */